<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      table, th, td {
  border:1px solid black;
}
    </style>
</head>
<body>
    Create a Web Server that will return html pages to the request base on 'http.url' property. Make sure that the Web Server will not Hard-Code page names while reading them using the 'fs' module. (Create a Route Table using ES6 Map()). The File will be read and will be responded to client.
    <table style="width:100%">
        <tr>
          <th>File</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
</body>
</html>