<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../transpiled/ass-1-april.build.js">
         
    </script>
</head>
<body>
    <h1> Add Product</h1>
    <!-- <label for="">Product ID:</label>
    <input type="text" id="txt1">
    <br><br> -->
    <label for="">Product Name:</label>
    <input type="text" id="txt2">
    <br><br>
    <label for="">Product Price:</label>
    <input type="text" id="txt3">
    <br><br>
    <label for="">CategoryName</label>
    <select name="" id="lstCat"></select>
    <br><br>
    <label for="">Manufacturer</label>
    <select name="" id="lstMan"></select>
    <br>
    <input type="button" value="Save" id="btnadd">
    <hr>
    <table id="table" border="1">
        <thead id="theadid"></thead>
        <tbody id="tbodyid"></tbody>
    </table>
</body>
</body>
</html>