<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../transpiled/inheritence.build.js"></script>
    <script>
        var obj = new Derive();
        console.log(' Message   ' + obj.deriveMessage('Hello ES 6'));
        console.log(' Add Derive   ' + obj.add(2,3));
        console.log(' Message   ' + obj.add(4,5));
    </script>
</head>
<body>
    <h1>ES 6 Interitence</h1>
</body>
</html>