<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../transpiled/simpleclass.build.js"></script>
    <script>
        var obj = new MyClass(-90);
        console.log(' Power =  ' + obj.power());
        console.log(' Add =  ' + obj.add());
        console.log("mess",obj);
        obj.Message = "ES 6 Object Oriented Programming";
        console.log('Message = ' + obj.Message);
    </script>
</head>
<body>
    <h1>The OOPs in the ES 6</h1>
</body>
</html>